<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">

            <Component Id="INSTALLFOLDER_Permission" Guid="{3DB7CC1C-1F92-4286-BCF8-FA8BB15284A3}">
                <CreateFolder>
                    <util:PermissionEx User="Users" GenericAll="yes"/>
                </CreateFolder>
            </Component>

            <Directory Id="dirFB61E39399B702AEB8EEAE5F2D96D250" Name="Extended Time Calculator">
                <Component Id="cmp202DBAB3F95F490F4BBD6329CBA0C483" Guid="{3DB7CC1C-1F92-4286-BCF8-FA8BB15284A9}">
                    <File Id="fil096DD906436C941A7FCA7D024EEC0FB4" KeyPath="yes" Source="$(var.testTimerSourceDir)\Extended Time Calculator.exe" />
                </Component>
                <Component Id="cmp9845D695FA545316C1ACBD40C8D417F2" Guid="{15B38EEE-FF6D-4AC8-982E-243E0E90383C}">
                    <File Id="fil484EFD03316E05E5D2ADF87DA353B9C7" KeyPath="yes" Source="$(var.testTimerSourceDir)\Extended Time Calculator.ico" />
                </Component>
                <Directory Id="dirE4B2ED7947FB899E70BBBEF53E20DD3E" Name="app">




                    <Component Id="cmp40F68521DD4338B3FA515C31FD9089CA" Guid="{CFECAFD3-06C3-488F-9B99-A7A3CB0D9EC8}">
                        <File Id="fil98D63599C58559EE4C3A6266EAFA8210" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\config.properties" />
                    </Component>
                    <Component Id="cmpAFF02941E3B961552735BBBB84D62C93" Guid="{53212733-EBB5-4832-A087-D09883C53666}">
                        <File Id="fil520ED5C0CD3D5BE676B0488DD52A1E1A" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\Extended Time Calculator-jfx.jar" />
                    </Component>
                    <Component Id="cmp036030E4156D695F1F619987787639D3" Guid="{F02013A7-0FE0-43C7-95EA-E3E4F5244A36}">
                        <File Id="filD17465841EA48BF7BE4A1ABC4550C2BF" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\package.cfg" />
                    </Component>
                    <Component Id="cmp4A2366B46915443027B6C3896348EC30" Guid="{B66F1A9D-B816-4C8D-88E2-27F149293567}">
                        <File Id="filB041F0B13DCC4BB2A1DE0F61BAE08C8B" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\testtimer.db">
                            <Permission User="Everyone" GenericAll="yes" />
                        </File>
                    </Component>
                    <Directory Id="dirB67717C7A5BB8B30581010BD97C8F7AC" Name="lib">
                        <Component Id="cmp76BDA41C0AE790CD627FF9BA5E926D5F" Guid="{D9A53CD1-BA8A-4AFC-BEE4-944E61E9B820}">
                            <File Id="fil65627E72DE0B7B17C868DC3BA0D23676" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\lib\commons-lang-2.6.jar" />
                        </Component>
                        <Component Id="cmpFA2B4696517F29B6770CD9A6BDD7EB85" Guid="{54853408-BFAF-4677-A381-7A34209DD79E}">
                            <File Id="fil913EFA3A9FC12FF167DC8CFD8F4EA8F0" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\lib\controlsfx-8.20.8.jar" />
                        </Component>
                        <Component Id="cmp4D9781F95DA8493EDFFE18D730B8F16C" Guid="{00D9906F-2013-48BC-93AE-99F0F4E0D1DF}">
                            <File Id="filBDFEE043C390460A74EF730F897DC839" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\lib\javafxdialogs-0.0.3.jar" />
                        </Component>
                        <Component Id="cmpEE63847C43EFD298812F4018E752114E" Guid="{1A907C00-433E-4381-AF88-A186D820C908}">
                            <File Id="fil82E83839474BCEE7664D58CF50BCB55D" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\lib\jcl-over-slf4j-1.6.1.jar" />
                        </Component>
                        <Component Id="cmp85B3E108852E647D479F9C14456C8BF8" Guid="{261F8509-5315-4F93-9448-C0F11FA727FE}">
                            <File Id="fil7789992EB8EA2E8A1E62352B42065889" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\lib\log4j-1.2.16.jar" />
                        </Component>
                        <Component Id="cmp01A04A41EA48C73110FA85884D0A9720" Guid="{D06798D6-872C-4112-8169-F726BAE2113A}">
                            <File Id="fil92E7D9731469693436F80CEDF0281150" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\lib\miglayout-core-4.2.jar" />
                        </Component>
                        <Component Id="cmpA58C8B0B262EAC619B00C02254563519" Guid="{C1A18ED5-C4F8-4BE1-B1F0-F25F44226381}">
                            <File Id="filC5BCD7BC82068DB38643247FEE868EEE" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\lib\miglayout-javafx-4.2.jar" />
                        </Component>
                        <Component Id="cmp9A7D18F67DF16897A83DE8A16CE90B98" Guid="{A9419764-5797-4C40-8A09-E56D361D696C}">
                            <File Id="filFAA22208DB057DAFC53CBFF29688AF42" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\lib\openjfx-dialogs-1.0.2.jar" />
                        </Component>
                        <Component Id="cmpE0FB2DE0830CBCC9C87956C77E870525" Guid="{1F7FB5E7-6377-44B3-A8B7-2732B17F61C5}">
                            <File Id="filFB355CD0D28B3FC4A4BA2DBF133DEDA2" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\lib\ormlite-core-4.48.jar" />
                        </Component>
                        <Component Id="cmp41B60E581D6409237B42D48FB0B16DAA" Guid="{0CB091DD-A2DA-4791-A034-D1F871CFADEF}">
                            <File Id="fil057A99856E34BEE3F31AFB549B1C5D21" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\lib\ormlite-jdbc-4.48.jar" />
                        </Component>
                        <Component Id="cmp820ACEE04D27C7CA92A6E4134EAB6A43" Guid="{962CB506-1CC7-46E7-8559-AF7EA05D0273}">
                            <File Id="filC4FF9C66D3A54BDB379339B943123266" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\lib\slf4j-api-1.6.1.jar" />
                        </Component>
                        <Component Id="cmp37D05DAC1AB09366846F2B355656085B" Guid="{08C5225C-BB96-4107-958C-7637606C46CD}">
                            <File Id="filEA5BFDB1858CA1B6C2775B6C78B4F4D6" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\lib\slf4j-log4j12-1.6.1.jar" />
                        </Component>
                        <Component Id="cmp38BFC5C7EEB84D4BB8144096CBDCBA40" Guid="{4BB883F2-23B7-4610-86A1-71C333EEFB17}">
                            <File Id="fil2161CB9879828F3C9B6978808B78E587" KeyPath="yes" Source="$(var.testTimerSourceDir)\app\lib\sqlite-jdbc-3.7.2.jar" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir53EF3EDDA0BFB06E0E10EBFF64FCEA88" Name="runtime">
                    <Directory Id="JRE_Runtime" Name="jre">
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="TestTimerGroup">
            <ComponentRef Id="cmp202DBAB3F95F490F4BBD6329CBA0C483" />
            <ComponentRef Id="cmp9845D695FA545316C1ACBD40C8D417F2" />
            <ComponentRef Id="cmp40F68521DD4338B3FA515C31FD9089CA" />
            <ComponentRef Id="cmpAFF02941E3B961552735BBBB84D62C93" />
            <ComponentRef Id="cmp036030E4156D695F1F619987787639D3" />
            <ComponentRef Id="cmp4A2366B46915443027B6C3896348EC30" />
            <ComponentRef Id="cmp76BDA41C0AE790CD627FF9BA5E926D5F" />
            <ComponentRef Id="cmpFA2B4696517F29B6770CD9A6BDD7EB85" />
            <ComponentRef Id="cmp4D9781F95DA8493EDFFE18D730B8F16C" />
            <ComponentRef Id="cmpEE63847C43EFD298812F4018E752114E" />
            <ComponentRef Id="cmp85B3E108852E647D479F9C14456C8BF8" />
            <ComponentRef Id="cmp01A04A41EA48C73110FA85884D0A9720" />
            <ComponentRef Id="cmpA58C8B0B262EAC619B00C02254563519" />
            <ComponentRef Id="cmp9A7D18F67DF16897A83DE8A16CE90B98" />
            <ComponentRef Id="cmpE0FB2DE0830CBCC9C87956C77E870525" />
            <ComponentRef Id="cmp41B60E581D6409237B42D48FB0B16DAA" />
            <ComponentRef Id="cmp820ACEE04D27C7CA92A6E4134EAB6A43" />
            <ComponentRef Id="cmp37D05DAC1AB09366846F2B355656085B" />
            <ComponentRef Id="cmp38BFC5C7EEB84D4BB8144096CBDCBA40" />
        </ComponentGroup>
    </Fragment>
</Wix>